{% extends "base.html" %}
{% block content %}
<h1 class="text-center">All Users</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Interests</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>
                <ul>
                    {% for interest in user.interests %}
                    <li>Type: {{ interest.type }}, Value: {{ interest.value }}, Threshold: {{ interest.threshold }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
